In [ ]:
print(input("Nama: Salsabila Zabrina Apsari"))
print(input("NIM: I0322114"))
print(input("Kelas: D"))

## 1.

diketahui dimensi sebuah aquarium tanpa penutup atas sebagai berikut:

```python
p = 11
l = 1.99
t = 25.87
```
buatkan program sederhana untuk menghitung diagonal tiap sisi dan luas permukaan aquarium tersebut tanpa menggunakan module math.

In [39]:
p = 11
l = 1.99
t = 25.87

#menghitung diagonal tiap sisi
x = "diagonal sisi depan aquarium"
y = "diagonal sisi samping aquarium"
z = "diagonal sisi alas aquarium"

print("==============================")
x = float((p**2+t**2)**0.5)
y = float((l**2+t**2)**0.5)
z = float((p**2+l**2)**0.5)
print("panjang diagonal sisi depan aquarium adalah =", x)
print("panjang diagonal sisi samping aquarium adalah =", y)
print("panjang diagonal sisi alas aquarium adalah =", z)

print("===============================")
#menghitung luas permukaan aquarium
a = "luas permukaan aquarium"

a = float((p*l + 2*(p*t)+(l*t)))
print("Maka luas permukaan aquarium tanpa tutup adalah =", a)

==============================
panjang diagonal sisi depan aquarium adalah = 28.11150831954771
panjang diagonal sisi samping aquarium adalah = 25.946425572706545
panjang diagonal sisi alas aquarium adalah = 11.17855536283647
===============================
Maka luas permukaan aquarium tanpa tutup adalah = 642.5113

## 2.

diberikan data nilai mahasiswa sebagai berikut:

In [49]:
nilai = {
    'Frank': 80,
    'Abagnale': 75,
    'Cobb': 90,
    'Andy Dufresne': 85,
    'Ariadne': 70
}
#menghitung rata-rata, nilai tertinggi, nilai terendah
x = "rata-rata"
y = "nilai tertinggi"
z = "nilai terendah"

a = "mahasiswa nilai tertinggi"
b = "mahasiswa nilai terendah"

#rata-rata keseluruhan nilai
print("=======================")
x = float(sum(nilai.values())/len(nilai.values()))
print("rata-rata keseluruhan nilai adalah = ", x)

#nilai tertinggi
y = max(nilai.values())
print("nilai tertinggi dari keseluruhan nilai dalah", y)
#mahasiswa yang mendapat nilai tertinggi
a = max(nilai, key=nilai.get)
print("mahasiswa yang mendapatkan nilai tertinggi adalah", a)

#nilai terendah
z = min(nilai.values())
print("nilai terendah dari keseluruhan nilai adalah", z)
#mahasiswa yang mendapat nilai terendah
b = min(nilai, key=nilai.get)
print("mahasiswa yang mendapatkan nilai terendah adalah", b)

=======================
rata-rata keseluruhan nilai adalah =  80.0
nilai tertinggi dari keseluruhan nilai dalah 90
mahasiswa yang mendapatkan nilai tertinggi adalah Cobb
nilai terendah dari keseluruhan nilai adalah 70
mahasiswa yang mendapatkan nilai terendah adalah Ariadne

buatlah program sederhana untuk menghitung nilai rata-rata semua mahasiswa dan mencari siapa yang mendapatkan nilai tertinggi dan nilai terendah. 
> *note: tidak perlu menggunakan loops untuk membuat program nya*

## 3.

diberikan list aslab sebagai berikut:
```python
list_aslab = [
    {"nama": "Berlian Safri Prakoso", "nim": "I0320017", "kontak": "0858XXXXXXXX"},
    {"nama": "Halidya Siti Hanifah", "nim": "I0320044", "kontak": "0878XXXXXXXX"},
    {"nama": "Nurki Putra Mahardika", "nim": "I0320076", "kontak": "0877XXXXXXXX"},
    {"nama": "Aji Manarul Aziz", "nim": "I0320119", "kontak": "0812XXXXXXXX"},
    {"nama": "Alica Ayu Fitriani", "nim": "I0320121", "kontak": "0896XXXXXXXX"},
    {"nama": "Dendy Halim Kusuma", "nim": "I0320125", "kontak": "0822XXXXXXXX"}
]
```
* **A** Tuliskan kode untuk mengakses informasi tentang "nama" dari semua aslab mulai dari index 1 sampai 5
* **B** Tambahkan informasi berikut pada data aslab:
```python
    surel = ["berlian@student.uns.ac.id",
          "halidya@student.uns.ac.id",
          "nurki@student.uns.ac.id",
          "manarul@student.uns.ac.id",
          "alica@student.uns.ac.id",
          "dendy@student.uns.ac.id"]
```
> *note: kalian hanya boleh menggunakan key-value pair yang disebutkan di dalam teks, tanpa menggunakan informasi tambahan yang diambil pada list yang ada*

In [52]:
list_aslab = [
    {"nama": "Berlian Safri Prakoso", "nim": "I0320017", "kontak": "0858XXXXXXXX"},
    {"nama": "Halidya Siti Hanifah", "nim": "I0320044", "kontak": "0878XXXXXXXX"},
    {"nama": "Nurki Putra Mahardika", "nim": "I0320076", "kontak": "0877XXXXXXXX"},
    {"nama": "Aji Manarul Aziz", "nim": "I0320119", "kontak": "0812XXXXXXXX"},
    {"nama": "Alica Ayu Fitriani", "nim": "I0320121", "kontak": "0896XXXXXXXX"},
    {"nama": "Dendy Halim Kusuma", "nim": "I0320125", "kontak": "0822XXXXXXXX"}
]

#A Tuliskan kode untuk mengakses informasi tentang "nama" dari semua aslab mulai dari index 1 sampai 5
for x in range (1,6) :
    print(list_aslab[x]["nama"])

print("=======================")
#B Tambahkan informasi berikut pada data aslab:
surel = ["berlian@student.uns.ac.id",
          "halidya@student.uns.ac.id",
          "nurki@student.uns.ac.id",
          "manarul@student.uns.ac.id",
          "alica@student.uns.ac.id",
          "dendy@student.uns.ac.id"]

for x in range (len(list_aslab)) :
    list_aslab[x]["surel"]= surel[x]
for list_aslab_email in list_aslab :
 print(list_aslab_email)

Halidya Siti Hanifah
Nurki Putra Mahardika
Aji Manarul Aziz
Alica Ayu Fitriani
Dendy Halim Kusuma
=======================
{'nama': 'Berlian Safri Prakoso', 'nim': 'I0320017', 'kontak': '0858XXXXXXXX', 'surel': 'berlian@student.uns.ac.id'}
{'nama': 'Halidya Siti Hanifah', 'nim': 'I0320044', 'kontak': '0878XXXXXXXX', 'surel': 'halidya@student.uns.ac.id'}
{'nama': 'Nurki Putra Mahardika', 'nim': 'I0320076', 'kontak': '0877XXXXXXXX', 'surel': 'nurki@student.uns.ac.id'}
{'nama': 'Aji Manarul Aziz', 'nim': 'I0320119', 'kontak': '0812XXXXXXXX', 'surel': 'manarul@student.uns.ac.id'}
{'nama': 'Alica Ayu Fitriani', 'nim': 'I0320121', 'kontak': '0896XXXXXXXX', 'surel': 'alica@student.uns.ac.id'}
{'nama': 'Dendy Halim Kusuma', 'nim': 'I0320125', 'kontak': '0822XXXXXXXX', 'surel': 'dendy@student.uns.ac.id'}